<template>
  <q-page>
    <MainPage/>
  </q-page>
</template>

<script>
import { defineComponent } from 'vue'
import MainPage from 'src/components/MainPage.vue';

export default {
  name: 'CalidexPage',
  components: {
    MainPage
  }
}
</script>
