<template>
    <main>
      <form action="app.php" class="formulario" method="POST">
        <div class="container_remitente">
          <div class="card card1">
            <div class="card_header">
              <img src="public/calidex/img/Colombia.svg" alt="logo de Colombia" />
              <h3>Remitente Colombia</h3>
              <div class="card__header_flex">
                <div class="input__casillero">
                  <img
                    src="calidex/img/Icon_Lupa.svg"
                    alt="icono de usuario"
                  />
                  <input required
                    type="text"
                    name="nro_casillero"
                    class="input"
                    placeholder="Nro. Casillero"
                    v-model="casillero"
                  />
                </div>
              </div>
              <span class="remitente__subtitulo"
                >¿No tienes casillero? <a href="#">Créalo Aqui</a></span
              >
            </div>
            <div class="card_content">
              <div class="form_group">
                <label for="nombre_remitente">Nombre</label>
                <div class="form_group__row">
                  <img
                    src="calidex/img/Icon_Usuario.svg"
                    class="form_group__icon"
                    alt="icono de muestra de usuario"
                  />
                  <input required type="text" v-model="remitente.nombre" name="nombre_remitente" placeholder="Jhon Doe Extra Large" />
                </div>
              </div>
              <div class="form_group">
                <label for="cedula_remitente">Documento</label>
                <div class="form_group__row">
                  <div class="select_row">
                    <img src="calidex/img/identificacion.svg" class="icono_identificacion" alt="icono de identificacion">
                    <div class="caja">
                      <select name="identificacion_prefijo" v-model="remitente.prefijoDocumento" id="identificacion_prefijo">
                        <option value="CC">CC</option>
                        <option value="VE">VE</option>
                        <option value="E">E</option>
                      </select>
                    </div>
                  </div>
                  <input required type="number" v-model="remitente.documento" name="cedula_remitente" placeholder="123456789"/>
                </div>
              </div>
              <div class="form_group">
                <label for="correo_remitente">Correo</label
                >
                <div class="form_group__row">
                  <img src="calidex/img/Icon_Correo.svg"  class="form_group__icon" alt="icono de correo">
                  <input required type="email" v-model="remitente.email" name="correo_remitente" placeholder="jondoe@email.com"/>
                </div>
              </div>
              <div class="form_group">
                <label for="telefono_remitente">Teléfono</label
                >
                <div class="form_group__row">
                  <img src="calidex/img/Icon_Telefono.svg" class="form_group__icon" alt="icono de telefono">
                  <input required type="tel" v-model="remitente.telefono" name="telefono_remitente" placeholder="123 000 0000" />
                </div>
              </div>
              <div class="form_group">
                <label for="ciudad">Ciudad</label
                >
                <div class="form_group__row">
                  <img src="calidex/img/identificacion.svg" alt="icono de identificacion">
                    <div class="caja caja_ciudad">
                      <select name="ciudad_remitente" v-model="remitente.ciudad" id="ciudad">
                        <option value="Medellin">Medellin</option>
                        <option value="Bogota">Bogota</option>
                        <option value="Cali">Cali</option>
                      </select>
                    </div>
                </div>
              </div>
              <div class="form_group">
                <label for="direccion_remitente">Dirección</label
                >
                <div class="form_group__row">
                  <img src="calidex/img/Icon_Ubicacion.svg"  class="form_group__icon" alt="icono de ubicacion">
                  <input required type="text" v-model="remitente.direccion" name="direccion_remitente" placeholder="Calle 22 # 22-22"/>
                </div>
              </div>
              <div class="form_group">
                <label for="notas_direccion_remitente">Notas de dirección</label
                >
                <div class="form_group__row">
                  <img src="calidex/img/Icon_Ubicacion2.svg"  class="form_group__icon" alt="icono de ubicacion de notas">
                  <input required type="text" v-model="remitente.notasDireccion" name="notas_direccion_remitente" placeholder="APTO 2202"/>
                </div>
              </div>
            </div>
          </div>
          <div class="card card2">
            <div class="peso_producto">
              <header>
                <label for="peso_producto">Peso</label>
                <span>Ingrese el peso del producto que quieres enviar</span>
              </header>
              <div class="peso_seleccion">
                <div class="escala">
                  <img class="caja_pequena" src="calidex/img/caja_pequena.svg" alt="icono de caja pequeña">
                  <img class="caja_express" src="calidex/img/caja_express.svg" alt="icono de caja express">
                  <img class="caja_mediana" src="calidex/img/caja_mediana.svg" alt="icono de caja mediana">
                  <img class="caja_grande" src="calidex/img/caja_grande.svg" alt="icono de caja grande">
                </div>
                <div class="range-wrap">
                  <div class="range-value" id="rangeV" :style="rangeStyle">
                    <span v-if="rangeMessage">
                    {{rangeMessage}}
                    <span class="value_peso">{{rangePeso}}</span>
                  </span>
                  </div>
                  <input type="range" name="peso_producto_kg" @input="setValue()" id="range" :value="rangeValue" min="0" max="60">
                </div>
              </div>
            </div>
            <div class="contenido_paquete">
              <div class="form_group">
                <label for="contenido_paquete">Contenido</label>
                <input required type="text" name="contenido_paquete" placeholder="Describa el contenido del paquete">
              </div>
            </div>
            <div class="contenido_transporte">
              <header>
                <h3 for="transporte">Transportadoras</h3>
                <span>Elige la compañía transportadora para tu paquete</span>
              </header>
              <div class="transportadoras">
                <div class="transportadora">
                  <div>
                    <input type="radio" v-model="transportadora" name="transportadora" value="servientrega" checked="true" id="servientrega">
                    <label for="servientrega" class="logo_transportadora servientrega"></label>
                  </div>
                  <span class="active">Servientrega</span>
                </div>
                <div class="transportadora">
                  <div>
                    <input type="radio" v-model="transportadora" name="transportadora" value="coordinadora" id="coordinadora">
                    <label for="coordinadora" class="logo_transportadora coordinadora"></label>
                  </div>
                  <span>Coordinadora</span>
                </div>
                <div class="transportadora">
                  <div>
                    <input type="radio" v-model="transportadora" name="transportadora" value="envia" id="envia">
                    <label for="envia" class="logo_transportadora envia"></label>
                  </div>
                  <span>Envia</span>
                </div>
                <div class="transportadora">
                  <div>
                    <input type="radio" v-model="transportadora" name="transportadora" value="interrapidisimo" id="interrapidisimo">
                    <label for="interrapidisimo" class="logo_transportadora interrapidisimo"></label>
                  </div>
                  <span>interrapidisimo</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card card3">
          <div class="card_header">
            <img src="calidex/img/Venezuela.svg" alt="logo de Colombia" />
            <h3>Destinatario Venezuela</h3>
          </div>
          <div class="card_content">
            <div class="form_group">
              <label for="nombre_destinatario">Nombre</label>
              <div class="form_group__row">
                <img
                  src="calidex/img/Icon_Usuario.svg"
                  class="form_group__icon"
                  alt="icono de muestra de usuario"
                />
                <input required type="text" v-model="destinatario.nombre" name="nombre_destinatario" placeholder="Jhon Doe Extra Large" />
              </div>
            </div>
            <div class="form_group">
              <label for="cedula_destinatario">Documento</label>
              <div class="form_group__row">
                <div class="select_row">
                  <img src="calidex/img/identificacion.svg" class="icono_identificacion" alt="icono de identificacion">
                  <div class="caja">
                    <select name="identificacion_prefijo_destinatario" v-model="destinatario.prefijoDocumento" id="identificacion_prefijo">
                      <option value="CC">CC</option>
                      <option value="VE">VE</option>
                      <option value="E">E</option>
                    </select>
                  </div>
                </div>
                <input required type="number" v-model="destinatario.documento" name="cedula_destinatario" placeholder="123456789"/>
              </div>
            </div>
            <div class="form_group">
              <label for="correo_destinatario">Correo</label
              >
              <div class="form_group__row">
                <img src="calidex/img/Icon_Correo.svg"  class="form_group__icon" alt="icono de correo">
                <input required type="email" v-model="destinatario.correo" name="correo_destinatario" placeholder="jondoe@email.com"/>
              </div>
            </div>
            <div class="form_group">
              <label for="telefono_destinatario">Teléfono</label
              >
              <div class="form_group__row">
                <img src="calidex/img/Icon_Telefono.svg" class="form_group__icon" alt="icono de telefono">
                <input required type="tel" v-model="destinatario.telefono" name="telefono_destinatario" placeholder="123 000 0000" />
              </div>
            </div>
            <div class="form_group">
              <label for="ciudad">Ciudad</label
              >
              <div class="form_group__row">
                <img src="calidex/img/identificacion.svg" alt="icono de identificacion">
                  <div class="caja caja_ciudad">
                    <select name="ciudad_destinatario" v-model="destinatario.ciudad" id="ciudad">
                      <option value="Caracas">Caracas</option>
                      <option value="Maracay">Maracay</option>
                      <option value="Valencia">Valencia</option>
                    </select>
                  </div>
              </div>
            </div>
            <div class="form_group">
              <label for="direccion_destinatario" ></label
              >
              <div class="form_group__row">
                <img src="calidex/img/Icon_Ubicacion.svg"  class="form_group__icon" alt="icono de ubicacion">
                <input required type="text" v-model="destinatario.direccion" name="direccion_destinatario"  placeholder="Calle 22 # 22-22"/>
              </div>
            </div>
            <div class="form_group">
              <label for="notas_direccion_destinatario">Notas de dirección</label
              >
              <div class="form_group__row">
                <img src="calidex/img/Icon_Ubicacion2.svg"  class="form_group__icon" alt="icono de ubicacion de notas">
                <input required type="text" v-model="destinatario.notasDireccion" name="notas_direccion_destinatario" placeholder="APTO 2202"/>
              </div>
            </div>
            <div class="form_group submit">
              <button class="btn btn_submit">Enviar</button>
            </div>
          </div>
        </div>
      </form>
  </main>
</template>
<script>

//Input radios

export default {
    name: 'MainPage',
    data(){
      return{
        casillero: '',
        remitente:{
          nombre: '',
          prefijoDocumento: '',
          documento: '',
          correo: '',
          telefono: '',
          ciudad: '',
          direccion: '',
          notasDireccion: '',
        },
        destinatario:{
          nombre: '',
          prefijoDocumento: '',
          documento: '',
          correo: '',
          telefono: '',
          ciudad: '',
          direccion: '',
          notasDireccion: '',
        },

        rangeValue: 4,
        rangeMessage: '',
        rangePeso: '',
        contenido: '',
        rangeStyle: {left: 0},
        transportadora: '',
      }
    },
    methods:{
        setValue(e){
          const min = 0;
          const max = 60;
              const
                  newValue = Number( (this.rangeValue - min) * max / (max - min) ),
                  newPosition = 5.40 - (newValue * 0.02);

              const trayectory = Number( (this.rangeValue - min) * 100 / (max - min));
              const ranges = {
                  pequeño: {value: 20, message: "Paquete pequeño"},
                  express: {value: 40, message: "Paquete express"},
                  mediano: {value: 50, message: "Paquete mediano"},
                  grande:  {value: 60, message: "paquete grande"}
              }

              const message = (newValue < ranges.pequeño.value) ? "Paquete pequeño" :
                              (newValue < ranges.express.value) ? "Paquete express" :
                              (newValue < ranges.mediano.value) ? "Paquete mediano" : "Paquete grande";
              
              this.rangePeso = newValue + " Kg";;
              this.rangeMessage = `${message} `;
              this.rangeStyle.left = `calc(${trayectory}% + (${newPosition}px))`;
          
      },
    },
    mounted(){
      this.setValue();
    }
  }
</script>