@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&family=Work+Sans:wght@300;400;600;700&display=swap');

/*Generales*/
:root{
    --azul:  #0D00A8;
    --border: #E0E0E0;
    --black: #1E1D20;
    --gray: #EDEDED;
    --grisInput: #F6F6F6;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    max-width: 1340px;
    margin: auto;
}

.logo{
    width: 72px;
    height: 34px;
}

body{
    font-family: "Work Sans", sans-serif;
    background-color: var(--gray);
}

/*Header*/
.header__bar{
    height: 54.48px;
    padding: 10px 10px 10px 60px;
    background-color: #fff;
}

main{
    margin: 40px 0;
}

.formulario{
    display:flex;
    max-width: 1085px;
    margin: auto;
}

/*Remitente*/
.container_remitente{
    display:flex;
    background-color: #fff;
    border-radius: 8px;
    padding: 10px;
    width: 767px;
    height: 629px;
    box-shadow: 0 3px 30px 0 rgba(0,0,0,0.1);
}

.card1{
    padding: 10px 20px 10px 10px;
    width: 353.5px;
    height: 613px;
}
.card2{
    width:393.5px;
    padding: 10px 10px 10px 20px;
}
.card3{
    background-color: #fff;
    border-radius: 8px;
    width: 373px;
    padding: 20px;
    box-shadow: 0 0 30px 0px rgba(0,0,0,0.1);

}
.card h3{
    color: var(--black);
    font-size: 16px;
    line-height: 28.13px;
    margin-top: 7px;
    font-weight: 600;
}

/*Casillero*/
.input__casillero input{
    height: 30px;
    border:none;
    outline: none;
    font-size: 12px;
    width:100%;
    padding: 18px 16px 18px 42px;
    margin-right: 10px;
    background-color: #F6F6F6;
}

.btn{
    width: 96px;
    height: 46px;
    border-radius: 6px;
    color: #fff;
    background-color: var(--azul);
    padding: 8px 16px;
    border:none;
    font-weight: 500;
}

.btn_submit{
    padding: 6px 10px;
    height: auto;
    cursor: pointer;
    font-weight: bold;
    margin-top: 30px;
    justify-self: flex-end;
}

.card__header_flex{
    margin-top: 11px;
    display: flex;
    justify-content: space-between;
}

.input__casillero{
    position:relative;
    width: 100%;
}

.input__casillero img{
    position:absolute;
    width: 12px;
    height: 12px;
    top:0;
    left: 0px;
    transform: translate(16px, 11px);
}

.remitente__subtitulo{
    display:block;
    margin-top: 8px;
    font-size:12px;
    line-height: 16px;
    color: var(--black);
}
.remitente__subtitulo a{
    text-decoration: none;
    font-weight: 600;
}

.card_header{
    padding-bottom: 20px;
}

/*Form group (inputs e iconos)*/
.form_group{
    margin-bottom: 12px;
    height: 52px;
}

.form_group.submit{
    display: grid;
}

.form_group:last-child{
    margin-bottom: 0;
}

.form_group label{
    display:block;
    color: var(--azul);
    font-size: 12px;
    font-weight: 600;
    line-height: 14.08px;
    margin-bottom: 10px;
}

.form_group input{
    height: 30px;
    border-radius: 3px;
    font-size:12px;
    border: none;
    outline:none;
    background-color: var(--grisInput);
    width: 100%;
}
.form_group__row{
    display:flex;
    border-radius:3px;
    padding: 0px 16px;
    background-color: var(--grisInput);
}
.form_group__icon{
    margin-right: 13px;
    background-color: var(--gray);
}

/*Select*/
.select_row{
    display:flex;
    align-items: center;
    width: 70px;
    height: 14px;
    margin-right: 8px;
    align-self: center;
    position: relative;
}

.select_row select{
    margin-left: 5px;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    border:none;
    outline: none;
    font-size: 12px;
    width: 100%;
    transform: translateY(-1px);
    background: transparent;
}

.select_row select::-ms-expand{
    display:none;
}

.icono_identificacion{
    margin-right: 5px;
    width:12px;
    height:12px;
}

/*caja contenedora de select*/
.caja{
    width: 100%;
    position:relative;
}
.caja::after{
	content:"\025be";
	display:table-cell;
    color: var(--azul);
	text-align:center;
	width:10px;
	height:10px;
	background-color:transparent;
	position:absolute;
	top: -2px;
	right: 0px;
	pointer-events: none;
}

.caja.caja_ciudad::after{
    transform: translate(50%,50%);
    top:0;
}
 
select:focus{
    outline: none;
}

.caja #ciudad{
    width:100%;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border:none;
    height: 30px;
    margin-left: 8px;
}

/*Peso producto*/

.peso_producto{
    margin-top: 10px;
}

.peso_producto header{
    height: 30px;
    margin-bottom:5px;
}

.peso_producto label{
    font-size: 14px;
    color: var(--azul);
    font-weight: 600;
    display: block;
}
.peso_producto span{
    font-weight: 400;
    font-size:10px;
    color: var(--black);
}
.peso_producto #range{
    -webkit-appearance: none;
    appearance: none; 
    width: 100%;
    cursor: pointer;
    outline: none;
    border-radius: 15px;
    height: 2px;
    background: #ccc;
}

#range::-webkit-slider-runnable-track{
    background-color: var(--grisInput);
    appearance: none;
    height: 1px;
}

#range::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: blue;
}

.range-wrap{
    position: relative;
}

.range-value{
    position:absolute;
    bottom: 0%;
    background-color: var(--azul);
    width: 83px;
    height: 19.27px;
    display:flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    padding: 6px;
    transform: translate(-42px,30px);
}
.range-value span{
    font-size: 6px;
	text-align: center;
	color: #fff;
}

.range-value span:before{
	content: "";
	position: absolute;
	width: 0;
	height: 0;
	border-bottom: 5px solid var(--azul);
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	bottom: 100%;
	left: 50%;
	margin-left: -5px;
	margin-top: -1px;
}

.peso_producto .value_peso{
    font-weight: 600;
}

.escala{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    margin-top:15px;
    padding: 10px 20px;
    width: 363.5px;
}

.escala .caja_pequena{
    width: 16.38px;
    height: 25.41px;
}

.escala .caja_express{
    width: 36.14px;
    height: 33.1px;
}

.escala .caja_mediana{
    width: 36.14px;
    height: 42.02px;
}

.escala .caja_grande{
    width: 49.7px;
    height: 50px;
}

/*Contenido paquete*/
.contenido_paquete{
    margin-top: 60px;
}
.contenido_paquete label{
    font-size: 12px;
    font-weight: 600;
    line-height: 14.08px;
}

.contenido_paquete input{
    padding: 8px 16px;
}

/*Transportadoras*/
.contenido_transporte{
    margin-top: 50px;
}

.contenido_transporte label{
    display:block;
    width: 50px;
    height: 50px;
    background-size: contain;
    background-position: center;
    border: 1px solid var(--gray);
    background-repeat: no-repeat;
    border-radius: 6px;
}

.contenido_transporte span{
    font-size: 10px;
    font-weight: 400;
    line-height: 11.73px;
    color: var(--black);
}

.transportadoras{
    margin-top: 20px;
    display:flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 344.5px;
    height:220px;
    padding: 10px;
}
.transportadora{
    width:140px;
    height: 50px;
    border-radius: 6px;
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.transportadora span{
    color: gray;
    font-weight: 600;
    display: block;
    width: 80px;
    z-index: 2;
}
.transportadora span.active{
    color: var(--azul);
}

/*radios*/
.transportadora input{
    margin:0;padding:0;
    -webkit-appearance:none;
       -moz-appearance:none;
            appearance:none;
    width: 140px;
    height: 50px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
}

.transportadora label{
    position: relative;
    z-index: 2;
}

.transportadora div{
    width: 50px;
    height: 50px;
    position: relative;
    display: flex;
}

.transportadora div::after{
    content: '';
    width: 50px;
    height: 50px;
    position: absolute;
    top: -5px;
    left: -5px; 
    border-radius: 6px;
    background-color: transparent;
    z-index: 1;
    padding: 5px;
}

.transportadora input:active +.logo_transportadora{
    opacity: .9;
}

.transportadora input:checked +.logo_transportadora{
    -webkit-filter: none;
       -moz-filter: none;
            filter: none;
}

.logo_transportadora{
    cursor:pointer;
    background-size:contain;
    background-repeat:no-repeat;
    display:inline-block;
    width:100px;height:70px;
    -webkit-transition: all 200ms ease-in;
       -moz-transition: all 200ms ease-in;
            transition: all 200ms ease-in;
    -webkit-filter: brightness(1.8) grayscale(1) opacity(.7);
       -moz-filter: brightness(1.8) grayscale(1) opacity(.7);
            filter: brightness(1.8) grayscale(1) opacity(.7);
}
.logo_transportadora:hover{
    -webkit-filter: brightness(1.2) grayscale(.5) opacity(.9);
       -moz-filter: brightness(1.2) grayscale(.5) opacity(.9);
            filter: brightness(1.2) grayscale(.5) opacity(.9);
}

.servientrega{background-image: url('../img/servientrega.png');}
.transportadora .coordinadora{
    background-image: url('../img/coordinadora.png');
    background-size: 70%;
}
.envia{background-image: url('../img/envia.jpeg');}
.transportadora .interrapidisimo{
    background-image: url('../img/interrapidisimo.jpg');
    background-size: 120%;
}