<template>
  <q-layout view="lHh Lpr lFf">
    <q-header elevated>
      <header class="header__bar">
        <img src="calidex/img/logo.svg" class="logo" alt="logo courrier" />
      </header>
    </q-header>
    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>
import { defineComponent, ref } from 'vue'

export default defineComponent({
  name: 'MainLayout',

  setup () {
    const leftDrawerOpen = ref(false)

    return {
      leftDrawerOpen,
      toggleLeftDrawer () {
        leftDrawerOpen.value = !leftDrawerOpen.value
      }
    }
  }
})
</script>
